In [ ]:
import numpy as np
import pandas as pd

In [ ]:
#!unzip /content/Data_DIR_2021.zip

In [ ]:
wdf = pd.read_csv('train_weather.csv')
wdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 914 entries, 0 to 913
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   TIME_UTC_SECONDS  914 non-null    int64
 1   TIME_UTC_STR      914 non-null    object
 2   AIR_TEMP          914 non-null    object
 3   TRACK_TEMP        914 non-null    object
 4   HUMIDITY          914 non-null    object
 5   PRESSURE          914 non-null    object
 6   WIND_SPEED        914 non-null    object
 7   WIND_DIRECTION    914 non-null    int64
 8   RAIN              914 non-null    object
 9   LOCATION          914 non-null    object
 10  EVENT             914 non-null    object
dtypes: int64(2), object(9)
memory usage: 78.7+ KB

In [ ]:
wdf.head(3)

   TIME_UTC_SECONDS   TIME_UTC_STR AIR_TEMP  ... RAIN    LOCATION            EVENT
0        1618042506  10/04/21 8:15       15  ...   -1  Location 2  Free Practice 2
1        1618042567  10/04/21 8:16  15.0556  ...   -1  Location 2  Free Practice 2
2        1618042632  10/04/21 8:17  15.0556  ...   -1  Location 2  Free Practice 2

[3 rows x 11 columns]

In [ ]:
train_df = pd.read_csv('/content/train.csv')
train_df.head(3)

   NUMBER   DRIVER_NUMBER   LAP_NUMBER  ...  POWER    LOCATION            EVENT
0      10               1            1  ...    NaN  Location 2  Free Practice 2
1      10               1            2  ...    NaN  Location 2  Free Practice 2
2      10               1            3  ...    NaN  Location 2  Free Practice 2

[3 rows x 25 columns]

In [ ]:
wdf=wdf.rename(columns={"EVENTS":"EVENT"})
wdf=wdf.drop(columns=["TIME_UTC_SECONDS","TIME_UTC_STR"])
wdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 914 entries, 0 to 913
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   AIR_TEMP        914 non-null    object
 1   TRACK_TEMP      914 non-null    object
 2   HUMIDITY        914 non-null    object
 3   PRESSURE        914 non-null    object
 4   WIND_SPEED      914 non-null    object
 5   WIND_DIRECTION  914 non-null    int64
 6   RAIN            914 non-null    object
 7   LOCATION        914 non-null    object
 8   EVENT           914 non-null    object
dtypes: int64(1), object(8)
memory usage: 64.4+ KB

In [ ]:
def val_conv(t):
  t=str(t)
  t=t.replace(',','.')
  ind=t.find('.')
  t=t[:(ind+1)]+t[(ind+1):].replace('.','')
  return float(t)

In [ ]:
cn=list(wdf.columns)
pcl = [i for i in range(7)]
for c in pcl:
  wdf[cn[c]]=wdf[cn[c]].apply(func=val_conv)

In [ ]:
wdf = wdf.astype({"LOCATION": 'category',"EVENT": 'category'})
train_df = train_df.astype({"LOCATION": 'category',"EVENT": 'category'})

In [ ]:
gdf = wdf.groupby(["LOCATION","EVENT"]).agg({key:np.mean for key in cn[:7]})

In [ ]:
mdf = pd.merge(train_df,gdf,how='left',on=['LOCATION','EVENT'])
mdf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10276 entries, 0 to 10275
Data columns (total 32 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   NUMBER                        10276 non-null  int64
 1    DRIVER_NUMBER                10276 non-null  int64
 2    LAP_NUMBER                   10276 non-null  int64
 3   LAP_TIME                      10276 non-null  int64
 4    LAP_IMPROVEMENT              10276 non-null  int64
 5    CROSSING_FINISH_LINE_IN_PIT  1234 non-null   object
 6    S1                           10272 non-null  object
 7    S1_IMPROVEMENT               10276 non-null  int64
 8    S2                           10268 non-null  object
 9    S2_IMPROVEMENT               10276 non-null  int64
 10   S3                           10242 non-null  object
 11   S3_IMPROVEMENT               10276 non-null  int64
 12   KPH                          10246 non-null  float64
 13   ELAPSED                      10276 non-null  object
 14   HOUR                         10276 non-null  object
 15  S1_LARGE                      10272 non-null  object
 16  S2_LARGE                      10268 non-null  object
 17  S3_LARGE                      10242 non-null  object
 18  DRIVER_NAME                   10276 non-null  object
 19  PIT_TIME                      1898 non-null   object
 20  GROUP                         508 non-null    float64
 21  TEAM                          10276 non-null  object
 22  POWER                         2903 non-null   float64
 23  LOCATION                      10276 non-null  object
 24  EVENT                         10276 non-null  category
 25  AIR_TEMP                      7913 non-null   float64
 26  TRACK_TEMP                    7913 non-null   float64
 27  HUMIDITY                      7913 non-null   float64
 28  PRESSURE                      7913 non-null   float64
 29  WIND_SPEED                    7913 non-null   float64
 30  WIND_DIRECTION                7913 non-null   float64
 31  RAIN                          7913 non-null   float64
dtypes: category(1), float64(10), int64(8), object(13)
memory usage: 2.5+ MB

In [ ]:
mdf.to_csv('final_train.csv', index=False)

In [ ]:
twdf = pd.read_csv('test_weather.csv')
test_df=pd.read_csv('test.csv')
twdf=twdf.rename(columns={"EVENTS":"EVENT"})
twdf.drop(columns=["TIME_UTC_SECONDS","TIME_UTC_STR"],inplace=True)
twdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167 entries, 0 to 166
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   AIR_TEMP        167 non-null    object
 1   TRACK_TEMP      167 non-null    object
 2   HUMIDITY        167 non-null    object
 3   PRESSURE        167 non-null    object
 4   WIND_SPEED      167 non-null    object
 5   WIND_DIRECTION  167 non-null    int64
 6   RAIN            167 non-null    int64
 7   LOCATION        167 non-null    object
 8   EVENT           167 non-null    object
dtypes: int64(2), object(7)
memory usage: 11.9+ KB

In [ ]:
for c in pcl:
  twdf[cn[c]]=twdf[cn[c]].apply(func=val_conv)
twdf = twdf.astype({"LOCATION": 'category',"EVENT": 'category'})
test_df = test_df.astype({"LOCATION": 'category',"EVENT": 'category'})
tgdf = twdf.groupby(["LOCATION","EVENT"]).agg({key:np.mean for key in cn[:7]})
tmdf = pd.merge(test_df,tgdf,how='left',on=['LOCATION','EVENT'])
tmdf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 420 entries, 0 to 419
Data columns (total 32 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   NUMBER                        420 non-null    int64
 1    DRIVER_NUMBER                420 non-null    int64
 2    LAP_NUMBER                   420 non-null    int64
 3   LAP_TIME                      0 non-null      float64
 4    LAP_IMPROVEMENT              420 non-null    int64
 5    CROSSING_FINISH_LINE_IN_PIT  16 non-null     object
 6    S1                           420 non-null    object
 7    S1_IMPROVEMENT               420 non-null    int64
 8    S2                           420 non-null    object
 9    S2_IMPROVEMENT               420 non-null    int64
 10   S3                           418 non-null    object
 11   S3_IMPROVEMENT               420 non-null    int64
 12   KPH                          418 non-null    float64
 13   ELAPSED                      420 non-null    object
 14   HOUR                         420 non-null    object
 15  S1_LARGE                      420 non-null    object
 16  S2_LARGE                      420 non-null    object
 17  S3_LARGE                      418 non-null    object
 18  DRIVER_NAME                   420 non-null    object
 19  PIT_TIME                      155 non-null    object
 20  GROUP                         391 non-null    float64
 21  TEAM                          420 non-null    object
 22  POWER                         309 non-null    float64
 23  LOCATION                      420 non-null    object
 24  EVENT                         420 non-null    object
 25  AIR_TEMP                      112 non-null    float64
 26  TRACK_TEMP                    112 non-null    float64
 27  HUMIDITY                      112 non-null    float64
 28  PRESSURE                      112 non-null    float64
 29  WIND_SPEED                    112 non-null    float64
 30  WIND_DIRECTION                112 non-null    float64
 31  RAIN                          112 non-null    float64
dtypes: float64(11), int64(7), object(14)
memory usage: 108.3+ KB

In [ ]:
tmdf.to_csv('final_test.csv', index=False)